$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  font-size: 16pt;
  background: #444;
  color: #DDD;
}

input {
  color: #000;
}
