$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  font-size: 16pt;
  background: #444;
  color: #DDD;
}

div {
  text-align: center;
}

form {
  color: #000;
  display: inline-block;
  margin: 3px auto 10px;
}

h4 {
  text-align: center;
  // text-align: justify;
  // text-align-last: center;
  // margin-left: 40px;
}

input {
  color: #000;
  display: inline-block;
  margin: 0 auto;
}

p {
  border: 2px solid #000;
  border-radius: 4px;
  padding: 2px 8px;
}

.marginAuto {
  border: 2px solid #DDD;
  border-radius: 4px;
  margin: 10px auto;
  padding: 2px 8px 25px;
}

.plainText {
  // background: yellow;
  border-radius: 4px;
  // color: #000;
  display: inline-block;
  padding: 2px;
}

.codedText {
  // background: red;
  border-radius: 4px;
  // color: #000;
  display: inline-block;
  padding: 2px;
}

.codedNumber {
  // background: blue;
  border-radius: 4px;
  // color: #DDD;
  display: inline-block;
  padding: 2px;
}

.codedSymbol {
  // background: green;
  border-radius: 4px;
  // color: #000;
  display: inline-block;
  padding: 2px;
}
